.navbar{
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo img{
  height: 4.5rem;
}

.navimg p a{
  text-decoration: none;
  color:rgb(14, 146, 124);
  font-size: 1.4rem;
}
.main-1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2vh;
}

.mainban1 img{
  height: 100vh;
  width: 40rem;
  margin-top: 2vh;
}

.main2{
  height: 70vh;
  width: 100%;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;

}

.main2ban2{
  height: 68vh;
  width: 100%;
}
.main2ban1 img{
  height: 68vh;
  margin-left: 0.5rem;
  width: 96%;

}

.main2ban2 img{
  height: 68vh;
  margin-left: 0.5rem;
  width: 96%;
}

.main2ban3 img{
  height: 68vh;
  margin-left: 0.5rem;
  width: 100%;
}

.main2ban3{
  width: 100%;
  
}

video{
  height: 68vh;
  margin-left: 0.5rem;
  width: 100%;
}

footer{
  height: 50vh;
  width: 100%;
  border: 1px solid black;
}

footer img{
  height: 15vh;
  width: 40%;
  margin-top: 3rem;

}
.slider{
  height: 85vh;
}
@media screen and (max-width: 599px) {
  .navbar{
    height: 3.8rem;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .Logo img{
    height: 2rem;
  }
  
  .navimg p a{
    text-decoration: none;
    color:rgb(14, 146, 124);
    font-size: 1rem;
    margin-top: 2rem;
    align-items: center;
  }

  .main-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2vh;
  }
  
  .mainban1 img{
    height: 70vh;
    width: 25rem;
    margin-top: 2vh;
  }
  
  .main2{
    height: 35vh;
    width: 100%;
    margin-top: 0.5vh;
    justify-content: center;
    align-items: center;
  
  }
  .slider{
    height: 30vh;
  }

  .main2ban2{
    height: 30vh;
    width: 100%;
  }
  .main2ban1 img{
    height: 30vh;
    margin-left: 0.5rem;
    width: 96%;
  
  }
  
  .main2ban2 img{
    height: 30vh;
    margin-left: 0.5rem;
    width: 96%;
  }
  
  .main2ban3 img{
    height: 30vh;
    margin-left: 0.5rem;
    width: 100%;
  }
  
  .main2ban3{
    width: 100%;
    
  }
  
  video{
    height: 35vh;
    margin-left: 0.5rem;
    width: 100%;
  }
  
  footer{
    height: 35vh;
    width: 100%;
    border: 1px solid black;
  }
  
  footer img{
    height: 10vh;
    width: 60%;
    margin-top: 3rem;
  }

  footer h4{
        font-size: 1rem;
  }
  footer h5{
    font-size: 0.8rem;
}
}